@inherits LayoutComponentBase

<div class="app-layout-container">
    
    <StudyTime.DesktopClient.Components.Layout.OfflineBanner />

    <div class="desktop-nav">
         <StudyTime.DesktopClient.Components.Navigation.TopBar /> 
    </div>

    <main class="main-content-scrollable">
        <div class="content-wrapper">
            @Body
        </div>
    </main>

    <div class="mobile-nav">
        <StudyTime.DesktopClient.Components.Navigation.BottomBar />
    </div>

</div>

<!-- Global Modals & Overlays -->
<StudyTime.DesktopClient.Components.Layout.FocusMode />
<StudyTime.DesktopClient.Components.Navigation.NotificationCenter />