@inherits LayoutComponentBase

<div class="app-layout-container">
    
    <StudyTime.DesktopClient.Components.Navigation.TopBar /> 

    <main class="main-content-scrollable">
        <div class="content-wrapper">
            @Body
        </div>
    </main>

</div>