@inherits LayoutComponentBase
@using StudyTime.DesktopClient.Components.Navigation

<div class="app-layout">

    @* Üst Menü Bileşeni *@
    <TopBar />

    @* Sayfaların Yüklendiği Alan *@
    <main class="content-area">
        @Body
    </main>

</div>