@inherits LayoutComponentBase

<div class="auth-layout-container" style="height: 100vh; background-color: var(--st-bg-color); display: flex; align-items: center; justify-content: center;">
    @Body
</div>
