<div class="chart-placeholder">
    <svg viewBox="0 0 400 200" class="line-chart">
        <polyline fill="none"
                  stroke="var(--accent)"
                  stroke-width="3"
                  points="10,160 70,90 140,120 210,60 280,140 350,160" />
    </svg>

    <div class="chart-labels">
        <span>6am</span>
        <span>9am</span>
        <span>12pm</span>
        <span>3pm</span>
        <span>6pm</span>
        <span>9pm</span>
    </div>
</div>
