@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Components.Routing
@using StudyTime.DesktopClient.Components.Layout

<Router AppAssembly="@typeof(Routes).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData"
                   DefaultLayout="@typeof(MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <h1>Page not found</h1>
    </NotFound>
</Router>
